
GO
/****** Object:  Table [ReporteComisiones].[CabeceraCarga]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[CabeceraCarga](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoArchivo] [char](2) NOT NULL,
	[FechaArchivo] [datetime] NOT NULL,
	[FechaCargaIni] [datetime] NOT NULL,
	[FechaCargaFin] [datetime] NULL,
	[EstadoCarga] [int] NOT NULL,
 CONSTRAINT [pk_cabeceracarga] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[Calidad]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[Calidad](
	[CargaId] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[Semana] [varchar](50) NULL,
	[FechaMuestra] [datetime] NULL,
	[Incidente] [int] NULL,
	[EspecialistaId] [int] NULL,
	[Proceso] [varchar](250) NULL,
	[TipoMonitoreo] [varchar](5) NULL,
	[CR1] [int] NULL,
	[CR2] [int] NULL,
	[CR3] [int] NULL,
	[CR4] [int] NULL,
	[CR5] [int] NULL,
	[CR6] [int] NULL,
	[CR7] [int] NULL,
	[CR_SUMA] [int] NULL,
	[CS1] [int] NULL,
	[CS2] [int] NULL,
	[CS_SUMA] [nchar](10) NULL,
	[CP1] [int] NULL,
	[CP_SUMA] [int] NULL,
	[OR1] [int] NULL,
	[OR2] [int] NULL,
	[OR_SUMA] [int] NULL,
	[VR1] [int] NULL,
	[VR2] [int] NULL,
	[VR3] [int] NULL,
	[VR4] [int] NULL,
	[VR_SUMA] [int] NULL,
	[MR1] [int] NULL,
	[MR2] [int] NULL,
	[MR3] [int] NULL,
	[MR_SUMA] [int] NULL,
	[Nota] [decimal](8, 2) NULL,
	[Cumple_Estand] [varchar](50) NULL,
 CONSTRAINT [PK_Calidad] PRIMARY KEY CLUSTERED 
(
	[CargaId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[Cargo]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[Cargo](
	[Id] [tinyint] NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Area] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cargo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[CargoComision]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ReporteComisiones].[CargoComision](
	[CargoId] [tinyint] NOT NULL,
	[Comision] [decimal](8, 2) NULL CONSTRAINT [DF_CargoComision_Comision]  DEFAULT ((0)),
	[Estado] [bit] NULL CONSTRAINT [DF_CargoComision_Estado]  DEFAULT ((1)),
 CONSTRAINT [PK_CargoComision_1] PRIMARY KEY CLUSTERED 
(
	[CargoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [ReporteComisiones].[CmrRatificada]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[CmrRatificada](
	[CargaId] [int] NOT NULL,
	[Secuencia] [int] NOT NULL,
	[Nomcorto] [varchar](50) NULL,
	[Ratificada] [int] NULL,
 CONSTRAINT [PK_CmrRatificada] PRIMARY KEY CLUSTERED 
(
	[CargaId] ASC,
	[Secuencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[DataAutomotriz]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[DataAutomotriz](
	[CargaId] [int] NOT NULL,
	[Secuencia] [int] NOT NULL,
	[NroPrestamo] [int] NULL,
	[TipoDoc] [varchar](50) NULL,
	[Documento] [int] NULL,
	[Nombre] [nvarchar](250) NULL,
	[FechaDesembolso] [datetime] NULL,
	[Canal] [varchar](50) NULL,
	[Captacion] [varchar](50) NULL,
	[Promotor] [nvarchar](50) NULL,
	[Asistente] [varchar](50) NULL,
	[TipoSeguro] [varchar](50) NULL,
	[Moneda] [nvarchar](10) NULL,
	[Precio] [decimal](18, 2) NULL,
	[CuotaInicial] [decimal](18, 2) NULL,
	[Monto] [decimal](18, 2) NULL,
	[Intermediacion] [varchar](10) NULL,
 CONSTRAINT [PK_DataAutomotriz] PRIMARY KEY CLUSTERED 
(
	[CargaId] ASC,
	[Secuencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[DiasAusencia]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[DiasAusencia](
	[CargaId] [int] NOT NULL,
	[Secuencia] [int] NOT NULL,
	[EmpleadoId] [int] NULL,
	[EmpresaId] [tinyint] NULL,
	[Empresa] [varchar](250) NULL,
	[Empleado] [nvarchar](250) NULL,
	[Anio] [int] NULL,
	[Mes] [tinyint] NULL,
	[Correlativo] [int] NULL,
	[FechaProc] [nvarchar](50) NULL,
	[TotDiasNoLabor] [decimal](5, 2) NULL,
 CONSTRAINT [PK_Dias_Ausencia] PRIMARY KEY CLUSTERED 
(
	[CargaId] ASC,
	[Secuencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[Empleado]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[Empleado](
	[EmpleadoID] [int] NOT NULL,
	[Nombres] [varchar](100) NULL,
	[Apellidos] [varchar](100) NULL,
	[NomCorto] [varchar](50) NULL,
	[NomCalidar] [varchar](250) NULL,
	[NomData] [varchar](250) NULL,
	[NomProducSLA] [varchar](250) NULL,
	[NomGesco] [varchar](250) NULL,
	[CargoId] [tinyint] NULL,
	[Cargo] [varchar](250) NULL,
 CONSTRAINT [PK_Empleado_1] PRIMARY KEY CLUSTERED 
(
	[EmpleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[EquipoConsolidadoMes]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[EquipoConsolidadoMes](
	[CargaId] [int] NOT NULL,
	[GrupoId] [varchar](3) NOT NULL,
	[SumaMetaTotal] [int] NULL,
	[SumaCasosCerrados] [int] NULL,
	[Logro] [decimal](5, 2) NULL,
 CONSTRAINT [PK_EquipoEsp_Consolidado] PRIMARY KEY CLUSTERED 
(
	[CargaId] ASC,
	[GrupoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[Excel]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[Excel](
	[ExcelId] [int] IDENTITY(1,1) NOT NULL,
	[NomExcel] [varchar](250) NULL,
	[Descripcion] [varchar](500) NULL,
	[Ruta] [varchar](500) NULL,
 CONSTRAINT [PK_InputExcel] PRIMARY KEY CLUSTERED 
(
	[ExcelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[ExcelHoja]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ReporteComisiones].[ExcelHoja](
	[ExcelId] [int] NOT NULL,
	[HojaId] [int] NOT NULL,
	[Hoja] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](500) NULL,
 CONSTRAINT [PK_InputExcel_Hoja] PRIMARY KEY CLUSTERED 
(
	[ExcelId] ASC,
	[HojaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [ReporteComisiones].[ExcelHojaTI]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ReporteComisiones].[ExcelHojaTI](
	[ExcelId] [int] NOT NULL,
	[HojaId] [int] NOT NULL,
	[TablaInputId] [int] NOT NULL,
	[TablaInput] [nvarchar](100) NULL,
	[SubTablaInput] [nvarchar](100) NULL,
	[Observaciones] [nvarchar](500) NULL,
	[CeldaInicio] [nvarchar](100) NULL,
	[CeldaFin] [nvarchar](100) NULL,
	[ColumnasOmitidas] [nvarchar](100) NULL,
	[Rangos] [nvarchar](150) NULL,
 CONSTRAINT [PK_IExcel_HojaTablaInput] PRIMARY KEY CLUSTERED 
(
	[ExcelId] ASC,
	[HojaId] ASC,
	[TablaInputId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [ReporteComisiones].[ExcelHojaTICampo]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[ExcelHojaTICampo](
	[ExcelId] [int] NOT NULL,
	[HojaId] [int] NOT NULL,
	[TablaInputId] [int] NOT NULL,
	[Colum] [varchar](50) NOT NULL,
	[ColExcel] [nvarchar](100) NULL,
	[ColDestino] [nvarchar](100) NULL,
 CONSTRAINT [PK_IExcel_HojaTI_Campo_1] PRIMARY KEY CLUSTERED 
(
	[ExcelId] ASC,
	[HojaId] ASC,
	[TablaInputId] ASC,
	[Colum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[Grupo]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[Grupo](
	[GrupoId] [int] NOT NULL,
	[Grupo] [varchar](50) NULL,
	[ResposableId] [int] NULL,
	[Responsable] [varchar](100) NULL,
 CONSTRAINT [PK_Grupo] PRIMARY KEY CLUSTERED 
(
	[GrupoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[Indicador]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[Indicador](
	[IndicadorId] [int] NOT NULL,
	[Indicador] [nvarchar](250) NULL,
	[Area] [varchar](50) NULL,
	[Porcentaje] [decimal](5, 2) NULL,
 CONSTRAINT [PK_Indicadores] PRIMARY KEY CLUSTERED 
(
	[IndicadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[IndicadorCumplimiento]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[IndicadorCumplimiento](
	[TablaId] [varchar](50) NOT NULL,
	[Secuencia] [tinyint] NOT NULL,
	[Inicio] [decimal](8, 2) NULL,
	[Fin] [decimal](8, 2) NULL,
	[Cumplimiento] [varchar](50) NULL,
	[Puntaje] [decimal](8, 2) NULL,
	[Premio] [decimal](8, 2) NULL,
	[GestionIndivGrupal] [varchar](50) NULL,
 CONSTRAINT [PK_TCumplimiento] PRIMARY KEY CLUSTERED 
(
	[TablaId] ASC,
	[Secuencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[IndicadorEncabezado]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[IndicadorEncabezado](
	[IndicadorId] [int] NOT NULL,
	[EncabezadoId] [int] NOT NULL,
	[Encabezado] [varchar](100) NULL,
	[Factor] [decimal](5, 2) NULL,
	[Formula] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Ind_Encabezado] PRIMARY KEY CLUSTERED 
(
	[IndicadorId] ASC,
	[EncabezadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[Monitoreo]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[Monitoreo](
	[CargaId] [int] NOT NULL,
	[Secuencia] [int] NOT NULL,
	[Semana] [varchar](50) NULL,
	[Mes] [tinyint] NULL,
	[FechaMuestra] [datetime] NULL,
	[Incidente] [int] NULL,
	[EspecialistaId] [int] NULL,
	[Especialista] [varchar](250) NULL,
	[Proceso] [varchar](50) NULL,
	[TipoMonitoreo] [varchar](5) NULL,
	[CR1] [varchar](5) NULL,
	[CR2] [varchar](5) NULL,
	[CR3] [varchar](5) NULL,
	[CR4] [varchar](5) NULL,
	[CR5] [varchar](5) NULL,
	[CR6] [varchar](5) NULL,
	[CR7] [varchar](5) NULL,
	[CS1] [varchar](5) NULL,
	[CS2] [varchar](5) NULL,
	[CP1] [varchar](5) NULL,
	[OR1] [varchar](5) NULL,
	[OR2] [varchar](5) NULL,
	[VR1] [varchar](5) NULL,
	[VR2] [varchar](5) NULL,
	[VR3] [varchar](5) NULL,
	[VR4] [varchar](5) NULL,
	[MR1] [varchar](5) NULL,
	[MR2] [varchar](5) NULL,
	[MR3] [varchar](5) NULL,
 CONSTRAINT [PK_Monitoreo] PRIMARY KEY CLUSTERED 
(
	[CargaId] ASC,
	[Secuencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[MontosTrasladosCTS]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[MontosTrasladosCTS](
	[CargaId] [int] NOT NULL,
	[Secuecnia] [int] NOT NULL,
	[NomCorto] [varchar](50) NULL,
	[NroAperturas] [int] NULL,
	[NroTransferencias] [int] NULL,
	[MontoTotal] [decimal](18, 2) NULL,
 CONSTRAINT [PK_MontosTransladosCTS] PRIMARY KEY CLUSTERED 
(
	[CargaId] ASC,
	[Secuecnia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[MPonderacion]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[MPonderacion](
	[CargaId] [int] NOT NULL,
	[Secuencia] [int] NOT NULL,
	[Semana] [varchar](50) NULL,
	[Mes] [tinyint] NULL,
	[FechaMuestra] [datetime] NULL,
	[Incidente] [int] NULL,
	[EspecialistaId] [int] NULL,
	[NomEspecialista] [varchar](250) NULL,
	[Proceso] [varchar](50) NULL,
	[TipoMonitoreo] [varchar](5) NULL,
	[CR1] [decimal](8, 2) NULL,
	[CR2] [decimal](8, 2) NULL,
	[CR3] [decimal](8, 2) NULL,
	[CR4] [decimal](8, 2) NULL,
	[CR5] [decimal](8, 2) NULL,
	[CR6] [decimal](8, 2) NULL,
	[CR7] [decimal](8, 2) NULL,
	[CR_SUMA] [decimal](8, 2) NULL,
	[CS1] [decimal](8, 2) NULL,
	[CS2] [decimal](8, 2) NULL,
	[CS_SUMA] [decimal](8, 2) NULL,
	[CP1] [decimal](8, 2) NULL,
	[CP_SUMA] [decimal](8, 2) NULL,
	[OR1] [decimal](8, 2) NULL,
	[OR2] [decimal](8, 2) NULL,
	[OR_SUMA] [decimal](8, 2) NULL,
	[VR1] [decimal](8, 2) NULL,
	[VR2] [decimal](8, 2) NULL,
	[VR3] [decimal](8, 2) NULL,
	[VR4] [decimal](8, 2) NULL,
	[VR_SUMA] [decimal](8, 2) NULL,
	[MR1] [decimal](8, 2) NULL,
	[MR2] [decimal](8, 2) NULL,
	[MR3] [decimal](8, 2) NULL,
	[MR_SUMA] [decimal](8, 2) NULL,
	[Nota] [decimal](8, 2) NULL,
	[Cumple_Estand] [varchar](50) NULL,
 CONSTRAINT [PK_IM_Ponderacion] PRIMARY KEY CLUSTERED 
(
	[CargaId] ASC,
	[Secuencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[ProducContactenos]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ReporteComisiones].[ProducContactenos](
	[CargaId] [int] NOT NULL,
	[Secuencia] [int] NOT NULL,
	[EmpleadoId] [int] NULL,
	[Empleado] [nvarchar](250) NOT NULL,
	[TotalAtendido] [int] NULL,
	[DiasLaborados] [int] NULL,
	[MetaDiaria] [int] NULL,
	[MesaMes] [int] NULL,
	[Productividad] [decimal](5, 2) NULL,
 CONSTRAINT [PK_IProduc_Contactenos] PRIMARY KEY CLUSTERED 
(
	[CargaId] ASC,
	[Secuencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [ReporteComisiones].[Productividad]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[Productividad](
	[CargaId] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[SupervisorId] [int] NULL,
	[Supervisor] [nvarchar](250) NULL,
	[EquipoEsp] [varchar](5) NULL,
	[Usuario] [nvarchar](250) NULL,
	[TotalProd] [int] NULL,
	[DiasConCierres] [int] NULL,
	[Meta_Diaria] [int] NULL,
	[Dias_Asistencia] [int] NULL,
	[Logro_Redond] [int] NULL,
	[Logro] [decimal](5, 2) NULL,
	[MetaReal] [int] NULL,
	[MetaAjust] [int] NULL,
	[AppAnd] [float] NULL,
	[LogroAjustado] [decimal](5, 2) NULL,
 CONSTRAINT [PK_IProductividad] PRIMARY KEY CLUSTERED 
(
	[CargaId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[ProductividadEsp]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[ProductividadEsp](
	[CargaId] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[GrupoId] [varchar](3) NULL,
	[SuperId] [int] NULL,
	[CargoId] [tinyint] NULL,
	[DiasLaborados] [int] NULL,
	[CR_Factor] [decimal](5, 2) NULL,
	[CR_MetaTotal] [decimal](5, 2) NULL,
	[CR_CasosCerrados] [int] NULL,
	[CR_Cumplimiento] [decimal](5, 2) NULL,
	[CR_Nota1] [decimal](5, 2) NULL,
	[SLA_Factor] [decimal](5, 2) NULL,
	[SLA_Total] [int] NULL,
	[SLA_NroCasos] [int] NULL,
	[SLA_Cumplimiento] [decimal](5, 2) NULL,
	[SLA_Nota2] [decimal](5, 2) NULL,
	[KPI_Nota1y2] [decimal](5, 2) NULL,
	[KPI_SumaPesos] [decimal](5, 2) NULL,
	[KPI_Nota] [decimal](5, 2) NULL,
	[KPI_Puntaje] [decimal](5, 2) NULL,
	[CAL_Impug] [decimal](5, 2) NULL,
	[CAL_Puntaje] [decimal](5, 2) NULL,
	[CRE_MetaTotal] [int] NULL,
	[CRE_CasosCerrados] [int] NULL,
	[CRE_Cumplimiento] [decimal](5, 2) NULL,
	[Comision_A] [decimal](8, 2) NULL,
	[Premio_B] [decimal](8, 2) NULL,
	[Total_ComisPremio] [decimal](8, 2) NULL,
 CONSTRAINT [PK_Productividad_Esp] PRIMARY KEY CLUSTERED 
(
	[CargaId] ASC,
	[EmpleadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[ProductividadSuperJefe]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[ProductividadSuperJefe](
	[CargaId] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[CargoId] [varchar](3) NULL,
	[DiasLaborados] [tinyint] NULL,
	[CRE_Factor] [decimal](5, 2) NULL,
	[CRE_MetaTotal] [int] NULL,
	[CRE_CasosCerrados] [int] NULL,
	[CRE_Cumplimiento] [decimal](5, 2) NULL,
	[CRE_Nota1] [decimal](5, 2) NULL,
	[SLAE_Factor] [nchar](10) NULL,
	[SLAE_Total] [int] NULL,
	[SLAE_NroCasos] [int] NULL,
	[SLAE_Cumplimiento] [decimal](5, 2) NULL,
	[SLAE_Nota2] [decimal](5, 2) NULL,
	[KPI_Nota1y2] [decimal](5, 2) NULL,
	[KPI_SumaPesos] [decimal](5, 2) NULL,
	[KPI_Nota] [decimal](5, 2) NULL,
	[KPI_Puntaje] [decimal](5, 2) NULL,
	[CAL_Impug] [decimal](5, 2) NULL,
	[CAL_Cumplimiento] [decimal](5, 2) NULL,
	[Comision_A] [decimal](8, 2) NULL,
	[Premio_B] [decimal](8, 2) NULL,
	[Total_AyB] [decimal](8, 2) NULL,
 CONSTRAINT [PK_Productividad_Super_Jefe] PRIMARY KEY CLUSTERED 
(
	[CargaId] ASC,
	[EmpleadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[SLA]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[SLA](
	[CargaId] [int] NOT NULL,
	[Secuencia] [int] NOT NULL,
	[SupervisorId] [int] NULL,
	[Supervisor] [varchar](250) NULL,
	[GrupoId] [varchar](5) NULL,
	[GrupoEsp] [varchar](50) NULL,
	[EmpeladoId] [int] NULL,
	[Empleado] [varchar](250) NULL,
	[FueraPlazo] [decimal](8, 2) NULL,
	[DentroPlazo] [decimal](8, 2) NULL,
	[TotalGeneral] [decimal](8, 2) NULL,
	[SLAConAjuste] [decimal](8, 2) NULL,
	[SLASinAjuste] [decimal](8, 2) NULL,
 CONSTRAINT [PK_IProductividadSLA] PRIMARY KEY CLUSTERED 
(
	[CargaId] ASC,
	[Secuencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[SLAUAC]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[SLAUAC](
	[CargaId] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[DentroPlazo] [tinyint] NULL,
	[FueraPlazo] [tinyint] NULL,
	[TotalGeneral] [int] NULL,
	[SLA] [varchar](50) NULL,
 CONSTRAINT [PK_ISLA_UAC] PRIMARY KEY CLUSTERED 
(
	[CargaId] ASC,
	[EmpleadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [ReporteComisiones].[TotalCuentas2Abono]    Script Date: 01/12/2017 04:55:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ReporteComisiones].[TotalCuentas2Abono](
	[CargaId] [int] NOT NULL,
	[Secuencia] [int] NOT NULL,
	[NomCorto] [varchar](50) NULL,
	[CS] [int] NULL,
	[CSyCTS] [int] NULL,
	[CSyCMR] [int] NULL,
	[CSyCTSyCMR] [int] NULL,
	[Total2Abono] [int] NULL,
 CONSTRAINT [PK_TotalCuentas2Abono] PRIMARY KEY CLUSTERED 
(
	[CargaId] ASC,
	[Secuencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [ReporteComisiones].[CabeceraCarga] ON 

INSERT [ReporteComisiones].[CabeceraCarga] ([Id], [TipoArchivo], [FechaArchivo], [FechaCargaIni], [FechaCargaFin], [EstadoCarga]) VALUES (1, N'6 ', CAST(N'2017-11-01 00:00:00.000' AS DateTime), CAST(N'2017-11-30 17:04:36.937' AS DateTime), CAST(N'2017-11-30 17:04:37.223' AS DateTime), 1)
SET IDENTITY_INSERT [ReporteComisiones].[CabeceraCarga] OFF
INSERT [ReporteComisiones].[Cargo] ([Id], [Nombre], [Area]) VALUES (1, N'Especialista UAC', N'Especialista')
INSERT [ReporteComisiones].[Cargo] ([Id], [Nombre], [Area]) VALUES (2, N'Supervisor', N'Supervisor')
INSERT [ReporteComisiones].[Cargo] ([Id], [Nombre], [Area]) VALUES (3, N'Jefe UAC', N'Jefe')
INSERT [ReporteComisiones].[CargoComision] ([CargoId], [Comision], [Estado]) VALUES (1, CAST(750.00 AS Decimal(8, 2)), 1)
INSERT [ReporteComisiones].[CargoComision] ([CargoId], [Comision], [Estado]) VALUES (2, CAST(500.00 AS Decimal(8, 2)), 1)
INSERT [ReporteComisiones].[CargoComision] ([CargoId], [Comision], [Estado]) VALUES (3, CAST(2000.00 AS Decimal(8, 2)), 1)
INSERT [ReporteComisiones].[DiasAusencia] ([CargaId], [Secuencia], [EmpleadoId], [EmpresaId], [Empresa], [Empleado], [Anio], [Mes], [Correlativo], [FechaProc], [TotDiasNoLabor]) VALUES (2, 1, NULL, 2, N'BANCO FALABELLA', N'ABREU RODRÍGUEZ ADOLFO WALTER', 2017, 10, 1, N'', CAST(15.00 AS Decimal(5, 2)))
INSERT [ReporteComisiones].[DiasAusencia] ([CargaId], [Secuencia], [EmpleadoId], [EmpresaId], [Empresa], [Empleado], [Anio], [Mes], [Correlativo], [FechaProc], [TotDiasNoLabor]) VALUES (2, 2, NULL, 2, N'BANCO FALABELLA', N'ADAMES GÓMEZ ADRIANO TERESA', 2017, 10, 1, N'', CAST(1.00 AS Decimal(5, 2)))
INSERT [ReporteComisiones].[DiasAusencia] ([CargaId], [Secuencia], [EmpleadoId], [EmpresaId], [Empresa], [Empleado], [Anio], [Mes], [Correlativo], [FechaProc], [TotDiasNoLabor]) VALUES (2, 3, NULL, 2, N'BANCO FALABELLA', N'ADARO FERNÁNDEZ AILÍN FERNANDO', 2017, 10, 1, N'', CAST(9.00 AS Decimal(5, 2)))
INSERT [ReporteComisiones].[Empleado] ([EmpleadoID], [Nombres], [Apellidos], [NomCorto], [NomCalidar], [NomData], [NomProducSLA], [NomGesco], [CargoId], [Cargo]) VALUES (12896534, N'', N'', NULL, N'ABREGU GONZÁLEZ', N'ABREGU GONZÁLEZ ADELMO CRISTY', NULL, N'ABREGU GONZÁLEZ ADELMO CRISTY', NULL, N'4')
INSERT [ReporteComisiones].[Empleado] ([EmpleadoID], [Nombres], [Apellidos], [NomCorto], [NomCalidar], [NomData], [NomProducSLA], [NomGesco], [CargoId], [Cargo]) VALUES (12896535, N'', N'', NULL, N'ABREU RODRÍGUEZ', N'ABREU RODRÍGUEZ ADOLFO WALTER', NULL, N'ABREU RODRÍGUEZ ADOLFO WALTER', NULL, N'1')
INSERT [ReporteComisiones].[Empleado] ([EmpleadoID], [Nombres], [Apellidos], [NomCorto], [NomCalidar], [NomData], [NomProducSLA], [NomGesco], [CargoId], [Cargo]) VALUES (12896536, N'', N'', NULL, N'ADAMES GÓMEZ ', N'ADAMES GÓMEZ ADRIANO TERESA', NULL, N'ADAMES GÓMEZ ADRIANO TERESA', NULL, N'1')
SET IDENTITY_INSERT [ReporteComisiones].[Excel] ON 

INSERT [ReporteComisiones].[Excel] ([ExcelId], [NomExcel], [Descripcion], [Ruta]) VALUES (1, N'MONITOEREO', N'Input Monitoreo por Mes', NULL)
INSERT [ReporteComisiones].[Excel] ([ExcelId], [NomExcel], [Descripcion], [Ruta]) VALUES (2, N'PRODUCTIVIDAD', N'Input Productividad por Resolutor por MEs', NULL)
INSERT [ReporteComisiones].[Excel] ([ExcelId], [NomExcel], [Descripcion], [Ruta]) VALUES (3, N'PLANTILLA', N'Plantilla Comisiones UAC, cuenta con hojas maestro y los reportes finales', NULL)
SET IDENTITY_INSERT [ReporteComisiones].[Excel] OFF
INSERT [ReporteComisiones].[ExcelHoja] ([ExcelId], [HojaId], [Hoja], [Descripcion]) VALUES (1, 1, N'Ponderacion', N'Depende de la pestaña MONITOREO de donde se extrae el resumen de las evaluaciones por cada pregunta.')
INSERT [ReporteComisiones].[ExcelHoja] ([ExcelId], [HojaId], [Hoja], [Descripcion]) VALUES (1, 2, N'Nota Final', N'Es un Consolidado de ponderación por cada pregunta.')
INSERT [ReporteComisiones].[ExcelHoja] ([ExcelId], [HojaId], [Hoja], [Descripcion]) VALUES (2, 1, N'PRODUCTIVIDAD', N'Reporte de Productividad')
INSERT [ReporteComisiones].[ExcelHojaTI] ([ExcelId], [HojaId], [TablaInputId], [TablaInput], [SubTablaInput], [Observaciones], [CeldaInicio], [CeldaFin], [ColumnasOmitidas], [Rangos]) VALUES (1, 1, 1, N'IM_Ponderacion', NULL, NULL, N'A3', N'AH3', NULL, NULL)
INSERT [ReporteComisiones].[ExcelHojaTI] ([ExcelId], [HojaId], [TablaInputId], [TablaInput], [SubTablaInput], [Observaciones], [CeldaInicio], [CeldaFin], [ColumnasOmitidas], [Rangos]) VALUES (2, 1, 1, N'IProductividad', NULL, NULL, N'A7', N'P7', N'H,M,O', NULL)
INSERT [ReporteComisiones].[ExcelHojaTI] ([ExcelId], [HojaId], [TablaInputId], [TablaInput], [SubTablaInput], [Observaciones], [CeldaInicio], [CeldaFin], [ColumnasOmitidas], [Rangos]) VALUES (2, 2, 1, N'ISLA_UAC', NULL, NULL, N'A7', N'J7', N'G,I', NULL)
INSERT [ReporteComisiones].[ExcelHojaTICampo] ([ExcelId], [HojaId], [TablaInputId], [Colum], [ColExcel], [ColDestino]) VALUES (1, 1, 1, N'A', N'SEMANA', N'Semana')
INSERT [ReporteComisiones].[ExcelHojaTICampo] ([ExcelId], [HojaId], [TablaInputId], [Colum], [ColExcel], [ColDestino]) VALUES (1, 1, 1, N'AA', N'VR16', N'VR4')
INSERT [ReporteComisiones].[ExcelHojaTICampo] ([ExcelId], [HojaId], [TablaInputId], [Colum], [ColExcel], [ColDestino]) VALUES (1, 1, 1, N'AB', N'PF', N'VR')
INSERT [ReporteComisiones].[Grupo] ([GrupoId], [Grupo], [ResposableId], [Responsable]) VALUES (1, N'Alo Banco', NULL, N'Elka Mendoza Reategui')
INSERT [ReporteComisiones].[Grupo] ([GrupoId], [Grupo], [ResposableId], [Responsable]) VALUES (2, N'Contáctenos', NULL, N'Elka Mendoza Reategui')
INSERT [ReporteComisiones].[Grupo] ([GrupoId], [Grupo], [ResposableId], [Responsable]) VALUES (3, N'G1', NULL, N'MIDEROS OLIVERA ROSA')
INSERT [ReporteComisiones].[Indicador] ([IndicadorId], [Indicador], [Area], [Porcentaje]) VALUES (1, N'Productividad y SLA', N'Especialista', NULL)
INSERT [ReporteComisiones].[Indicador] ([IndicadorId], [Indicador], [Area], [Porcentaje]) VALUES (2, N'Calidad', N'Especialista', NULL)
INSERT [ReporteComisiones].[Indicador] ([IndicadorId], [Indicador], [Area], [Porcentaje]) VALUES (3, N'Premio', N'Especialista', NULL)
INSERT [ReporteComisiones].[IndicadorCumplimiento] ([TablaId], [Secuencia], [Inicio], [Fin], [Cumplimiento], [Puntaje], [Premio], [GestionIndivGrupal]) VALUES (N'1', 1, CAST(-99.99 AS Decimal(8, 2)), CAST(0.59 AS Decimal(8, 2)), N'Menor a 60%', CAST(0.00 AS Decimal(8, 2)), NULL, NULL)
INSERT [ReporteComisiones].[IndicadorCumplimiento] ([TablaId], [Secuencia], [Inicio], [Fin], [Cumplimiento], [Puntaje], [Premio], [GestionIndivGrupal]) VALUES (N'1', 2, CAST(0.60 AS Decimal(8, 2)), CAST(0.79 AS Decimal(8, 2)), N'60% - 79% ', CAST(0.60 AS Decimal(8, 2)), NULL, NULL)
INSERT [ReporteComisiones].[IndicadorCumplimiento] ([TablaId], [Secuencia], [Inicio], [Fin], [Cumplimiento], [Puntaje], [Premio], [GestionIndivGrupal]) VALUES (N'1', 3, CAST(0.80 AS Decimal(8, 2)), CAST(0.84 AS Decimal(8, 2)), N'80% - 84% ', CAST(0.70 AS Decimal(8, 2)), NULL, NULL)
