<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="ConnectionStringSQL" connectionString="Data Source=LP11\MSSQLSERVER2;Initial Catalog=Comisiones;uid=sa;pwd=sigcomt; Connect Timeout=200;" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionStringSQL" connectionString="Data Source=LP12;Initial Catalog=ComisionesQA;uid=sa;pwd=sigcomt; Connect Timeout=200;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionActiveDirectory" connectionString="LDAP://172.22.4.15" />-->
    <add name="ConnectionActiveDirectory" connectionString="LDAP://sigcomt.com" />
  </connectionStrings>
  <appSettings>
    <add key="EmailPattern" value="sigone@sigcomt.com"/>
    <add key="Correo" value="jcastro@sigcomt.com"/>
    <add key="CorreoCC" value=""/>
    <add key="Subject" value="COMISIONES"/>
    <add key="RutaArchivoIn" value="Archivo\In\"/>
    <add key="RutaArchivoOut" value="Archivo\Out\"/>
    <add key="RutaArchivoCopy" value="D:\Pruebas comisiones\LogCarga_"/>
    <add key="NombreArchivo" value="LogCarga.xlsx"/>
    <add key="ValidarAD" value="1" /><!--0 => No se valida con AD, 1 => Se valida con AD-->
  </appSettings>
  <log4net>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/Log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="All"/>
      <appender-ref ref="DebugAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  <system.net>
    <mailSettings>
      <smtp from="sigone@sigcomt.com">
        <network defaultCredentials="false" host="mail.sigcomt.com" password="sigONE2015" port="587" userName="sigone@sigcomt.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>