<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ADWVP" connectionString="LDAP://sigcomt.com" />
    <!--<add name="ADWVP" connectionString="LDAP://{0}/DC=falabella,DC=com" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="Domains" value="bancofalabella.com.pe,falabella.com,falabella.com.pe,falabella.cl" />-->
    <add key="Domains" value="bancofalabella.com.pe,falabella.com,sigcomt.com" />
  </appSettings>
</configuration>