<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=Cobranzas;uid=sa;pwd=sigcomt" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <appSettings>
      <add key="Esquema" value="Cobranzas"/>
      <add key="RutaSaldosVencidoCyber" value="D:\TEMP\Generica\"/>
      <add key="RutaRiad" value="D:\TEMP\Generica\"/>
      <add key="RutaContencionHistorico" value="D:\TEMP\ContencionHistorico\"/>
      <add key="RutaTampJ" value="D:\TEMP\Generica\"/>
      <add key="RutaPagosVencidos" value="D:\TEMP\Generica\"/>
      <add key="RutaCastigoHc" value="D:\TEMP\Generica\"/>
      <add key="RutaUbigeoTramo45" value="D:\TEMP\Generica\"/>
      <add key="RutaRefinanciados" value="D:\TEMP\Generica\"/>
      <add key="RutaEstudioCuentaTramo1" value="D:\TEMP\Generica\"/>
      <add key="RutaEstudioCuentaTramo45" value="D:\TEMP\Generica\"/>
      <add key="RutaEstudioDistritoTramo2" value="D:\TEMP\Generica\"/>
      <add key="RutaEstudioMetaTramo" value="D:\TEMP\Generica\"/>
      <add key="RutaEstudioRangoTramo3" value="D:\TEMP\Generica\"/>
      <add key="RutaCuentasCastigoMensual" value="D:\TEMP\Generica\"/>
      <add key="RutaEstudioRangoTramo1" value="D:\TEMP\Generica\"/>
      <add key="RutaEstudioCuentaTramo23" value="D:\TEMP\Generica\"/>
      <add key="RutaCuentaHomologada" value="D:\TEMP\Generica\"/>
      <add key="RutaPagosHc" value="D:\TEMP\Generica\"/>
      <add key="RutaMetaRecuperoCastigo" value="D:\TEMP\Generica\"/>
      <add key="RutaEstudioRecuperoCastigo" value="D:\TEMP\Generica\"/>
      <add key="RutaEstudioMetaRecupero" value="D:\TEMP\Generica\"/>
      <add key="RutaMetaContencion" value="D:\TEMP\Generica\"/>
      <add key="RutaMetaRollRatesDiario" value="D:\TEMP\Generica\"/>

    <!--<add key="RutaSaldosVencidoCyber" value="\\cmr205\ftp_directorio\cyberfinancial\Inputs"/>
      <add key="RutaRiad" value="\\cmr205\ftp_directorio\cyberfinancial\Inputs"/>
      <add key="RutaContencionHistorico" value="\\cmr205\ftp_directorio\cyberfinancial\Inputs"/>
      <add key="RutaTampJ" value="\\cmr205\ftp_directorio\cyberfinancial\Inputs"/>
      <add key="RutaPagosVencidos" value="\\cmr205\ftp_directorio\cyberfinancial\Inputs"/>
      <add key="RutaCastigoHc" value="D\\cmr205\ftp_directorio\cyberfinancial\Inputs"/>
      <add key="RutaRefinanciados" value="D\\cmr205\ftp_directorio\cyberfinancial\Inputs"/>
      -->
  </appSettings>

  <log4net>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="All"/>
      <appender-ref ref="DebugAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
</configuration>